body, html {
    font-family: 'Mukta Malar', sans-serif;
    background: #eee;
    margin: 0px;
    height:100%;
    width:100%;
}

h1 {
    color: #000000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 2px #848484;
    opacity: 0.5;
}

#description {
    color: #000000;
    text-align: center;
    padding: 0px;
    margin: 0px;
    z-index: 1;
    position: relative;
    text-shadow: 2px 2px 2px #848484;
    opacity: 0.7;
    position: absolute;
    bottom: 0px;
    padding-left: 4px;
}
#time{
    font-size:22px;
}

#bubbleWrap{
    width: 100%;
    position: relative;
    height: 83vh;
    z-index: 20;
}

.bubble {
    position: absolute;
    background-color: red;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    color: white;
    overflow: hidden;
    text-shadow: 0px 0px 4px black;
    cursor: all-scroll;
    box-shadow: 0px 0px 4px #8c8c8c;
    opacity:0.8;
    -webkit-transition: opacity 3s, transform 1s; /* Safari */
    transition: opacity 3s, transform 1s;

    -ms-transform: scale(0); /* IE 9 */
    -webkit-transform: scale(0); /* Safari */
    transform: scale(0);

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}